<main>
  <h1>Kies je betaalmethode</h1>

  <section class="betalen">
    <article>
      <mat-radio-group [formControl]="methodeControl" required>
        @for (methode of methodes; track methodes) {
        <mat-radio-button class="example-radio-button" [value]="methode">
          {{ methode.betalingsMethode }}</mat-radio-button
        >
        }
      </mat-radio-group>
    </article>

    <article class="prompt_betaling">
      @if (methodeControl.hasError('required')) {
      <mat-error>Gelieve een betalingsmethode te selecteren</mat-error>
      }
    </article>

    <article class="logo_betaalmethodes">
      <img src="assets/images/Bancontact.png" alt="Logo Bancontact" />
      <img src="assets/images/Mastercard.png" alt="Logo Mastercard" />
      <img src="assets/images/Visa.png" alt="Logo Visa" />
      <img src="assets/images/Paypal.png" alt="Logo PayPal" />
    </article>

    <a class="afrekenen" routerLink="/betaling-geslaagd">AFREKENEN</a>
  </section>
</main>
