<!--<main>
  <section class="floorplanSection">
    <h2 class="floorTitle">Floor Plan</h2>
    <div class="entrance">Inkom</div>
    <div class="grid-container">
      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>

      <div class="spaceStands"></div>

      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="spaceStands"></div>

      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="spaceStands"></div>

      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="90"
            x2="8.4vw"
            y2="90"
            style="stroke: rgb(0, 255, 34); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(68, 0, 255); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(255, 0, 212); stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
        <svg
          height="2vw"
          width="6vw"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="0"
            x2="8.4vw"
            y2="1"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
          <line
            x1="8vw"
            y1="0"
            x2="8vw"
            y2="200"
            style="stroke: rgb(247, 10, 10); stroke-width: 14"
          />
        </svg>
      </div>
    </div>
  </section>
</main>-->

<main>
  <img src="assets/images/PIXELPALOOZA_PLATTEGROND.png" alt="Plattegrond PixelPalooza">
</main>
