<main>
  <section class="floorplanSection">
    <h2>fp</h2>
    <div class="entrance">Inkom</div>
    <div class="grid-container">
      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>

      <div>11</div>

      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div>11</div>

      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg
          height="2em"
          width="4em"
          viewBox="0 0 207 95"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div>11</div>

      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="25"
            x2="300"
            y2="25"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
      <div class="space"></div>
      <div class="container">
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
        <svg height="2em" width="4em" xmlns="http://www.w3.org/2000/svg">
          <line
            x1="0"
            y1="1"
            x2="300"
            y2="1"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="7"
            y1="0"
            x2="7"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
          <line
            x1="57"
            y1="0"
            x2="57"
            y2="200"
            style="stroke: red; stroke-width: 14"
          />
        </svg>
      </div>
    </div>
  </section>
</main>
