<main>
  <section class="floorplanSection">
    <h2>fp</h2>
    <div class="entrance">Inkom</div>
    <div class="grid-container">
      <div class="row">
        <div id="table1"></div>
        <div class="table" id="table2"></div>
        <div class="table" id="table3"></div>
        <div class="table" id="table1b"></div>
        <div class="table" id="table4"></div>
        <div class="table" id="table5"></div>
        <div class="table" id="table6"></div>
      </div>
      <div class="col"></div>

      <div class="col">
        <div id="table7">7</div>
        <div id="table8">8</div>
        <div id="table9">9</div>
      </div>

      <div class="col">
        <div id="table1"></div>
        <div id="table2"></div>
        <div id="table3"></div>
      </div>
      <div class="col">
        <div id="table4"></div>
        <div id="table5"></div>
        <div id="table6"></div>
      </div>

      <div class="col">
        <div id="table7">7</div>
        <div id="table8">8</div>
        <div id="table9">9</div>
      </div>
    </div>
  </section>
</main>
