<main>
  <h1>Cart</h1>
  <div class="cartContainer">
    <ul>
      @for(ticket of cartService.getTickets();track ticket.id) {
      <li>
        <h2>{{ ticket.name }}</h2>
        <p>{{ ticket.price | currency : "EUR" }}</p>
        <br />
        <p>Quantity: {{ ticket.quantity }}</p>
        <button (click)="removeFromCart(ticket)">Delete</button>
        <button (click)="cartService.increaseQuantity(ticket.id)">+</button>
        <button (click)="cartService.decreaseQuantity(ticket.id)">-</button>
      </li>
      }
    </ul>
  </div>
  <div>
    <h2>Total: {{ cartService.getTotalPrice() | currency : "EUR" }}</h2>
    <a routerLink="/ticketbetaalpagina"> <button>Betalen</button></a>
  </div>
</main>
