<main>
  <p class="intro">
    Ook deze rakker zal aanwezig zijn! Lars Goedhuys, bekend van ... 🦗 zal
    handtekeningen uitdelen, op de foto gaan en zijn geheim delen voor een
    succesvolle carrière!
  </p>

  

  <section class="planning">
    <article>
      <h2 class="titel_planning">Planning:</h2>
      <ul class="juli1">
        <p class="datum">11 juli:</p>
        <li>10u: Q&A sessie - Main stage</li>
        <li>11u: Handtekeningen en foto's - Stand 11</li>
        <li>14u: Q&A sessie - Main stage</li>
        <li>15u: Handtekeningen en foto's - Stand 11</li>
      </ul>
      <ul class="juli2">
        <p class="datum">12 juli:</p>
        <li>10u: Q&A sessie - Main stage</li>
        <li>11u: Handtekeningen en foto's - Stand 13</li>
        <li>14u: Q&A sessie - Main stage</li>
        <li>15u: Handtekeningen en foto's - Stand 13</li>
      </ul>
    </article>

    <article>
      <img src="assets/images/LARS.jpg" alt="" />
    </article>
  </section>
</main>
