<p class="intro">
  Ook deze rakker zal aanwezig zijn! Lars Goedhuys, bekend van ... 🦗, zal
  handtekeningen uitdelen, op de foto gaan en zijn geheim delen voor een
  succesvolle carrière!
</p>

<section class="planning">
  <section class="planning">
    <article>
      <h2 class="titel_planning">Planning:</h2>
      <ul class="juli1">
        <p class="datum">13 juli:</p>
        <li>10u: Q&A sessie - Main stage</li>
        <li>11u: Handtekeningen en foto's - Main stage</li>
        <li>14u: Q&A sessie - Main stage</li>
        <li>15u: Handtekeningen en foto's - Main stage</li>
      </ul>
      <ul class="juli2">
        <p class="datum">14 juli:</p>
        <li>10u: Q&A sessie - Main stage</li>
        <li>11u: Handtekeningen en foto's - Main stage</li>
        <li>14u: Q&A sessie - Main stage</li>
        <li>15u: Handtekeningen en foto's - Main stage</li>
      </ul>
    </article>

    <article>
      <img src="assets/images/LARS.jpg" alt="" />
    </article>
  </section>

  <div>
    <h1>Geef commentaar</h1>
    <ul class="apiUl">
      @for(item of comments;track item ){
      <li>
        {{ item }}
      </li>
      }
    </ul>
    <div>
      <input class="apiInput" [(ngModel)]="newAuthor" placeholder="Auteur" />
      <input
        class="apiInput"
        [(ngModel)]="newComment"
        placeholder="Commentaar"
      />
      <button (click)="addComment()">Add Comment</button>
    </div>
    <!--Made display none in the css because I didn't like the look -->
    <div class="hiddenApi">{{ data.title }}</div>

    <div>
      <input class="apiInput" [(ngModel)]="userId" placeholder="" />
      <input class="apiInput" [(ngModel)]="id" placeholder="" />
      <input class="apiInput" [(ngModel)]="title" placeholder="title" />
      <input class="apiInput" [(ngModel)]="completed" placeholder="" />
      <button (click)="addTodo()">Add Comment</button>
    </div>
  </div>
</section>
