<footer>
  <ul>
    <li>
      <a href="https://www.instagram.com/angular.web/" target="_blank"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://x.com/angular" target="_blank"
        ><i class="fa-brands fa-x-twitter"></i
      ></a>
    </li>
    <li><i class="fa-brands fa-facebook" (click)="sendToParent()"></i></li>
    <li>
      <a href="https://www.youtube.com/@Angular" target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </li>
  </ul>

  <p class="footerP">&copy;{{ message }}</p>
</footer>
