/*     ALGEMENE ASTERISK     */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*     MAIN     */

main {
  margin: auto;
  max-width: 40rem;
}

section p {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1.8em, 2.5vw, 2.5em);
}

section {
  margin-top: 5em;
  margin-bottom: 4em;
}

/*     CONTACTFORMULIER     */

.contactformulier {
  display: flex;
  flex-direction: column;
  background: rgb(125, 249, 184);
  background: linear-gradient(
    90deg,
    rgba(125, 249, 184, 1) 0%,
    rgba(40, 88, 92, 1) 0%,
    rgba(20, 50, 71, 1) 100%
  );
  border-radius: 10px;
  border: #202323 1px solid;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2em;
  margin-bottom: 10rem;
}

label {
  font-size: clamp(1em, 2vw, 1.1em);
  margin-bottom: 0.5rem;
  color: #ffffff;
}

input {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  border: #202323 1px solid;
  box-shadow: 0px 15px 10px -15px #111;
}

.transactie,
.email,
.voornaam,
.achternaam {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.probleem {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  max-width: 100%;
  border: #202323 1px solid;
  box-shadow: 0px 15px 10px -15px #111;
}

.verstuur_bericht {
  text-align: center;
}

.knop_verstuur_bericht {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #7df9b8;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  transition: 0.2s;
  border: #202323 1px solid;
  font-size: clamp(0.8em, 2vw, 1.1em);
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0e0e0e;
}

.knop_verstuur_bericht:hover {
  background-color: #32b772;
}

.knopje {
  text-decoration: none;
}

mat-form-field {
  margin-top: 2em;
  height: 5.5em;
}
