<!-- 
<main>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Bedrijfsnaam" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail@email" />

      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <section>
    <p>Reserveer je tafels</p>
  </section>
  <form class="contactformulier" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Wat is de naam van je bedrijf</mat-label>
      <input
        type="text"
        matInput
        placeholder="Bedrijfsnaam"
        formControlName="companyName"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        type="email"
        matInput
        placeholder="E-mail@email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wat is je voornaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Voornaam"
        formControlName="voornaam"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wat is je achternaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Achternaam"
        formControlName="achternaam"
      />
    </mat-form-field>

    <label id="example-radio-group-label"
      >Select the categorie you will be selling</label
    >
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      @for (categorie of categories; track categorie) {
      <mat-radio-button class="example-radio-button" [value]="categorie">{{
        categorie
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <div>you sell: {{ categorySelection }}</div>

    <div class="verstuur_bericht">
      <button class="knop_verstuur_bericht">
        <a class="knopje" href="floorplan">RESERVEER</a>
      </button>
    </div>
  </form>
</main>

-->

<main>
  <section class="reservatiepagina">
    <section class="bevraging">
      <article class="plattegrond">
        <h1>Plattegrond</h1>
      </article>

      <article class="kies_je_categorie">
        <h1>Kies je categorie</h1>
        <mat-form-field>
          <mat-label>Categoriëen</mat-label>
          <mat-select [formControl]="foodControl" required>
            <mat-option>--</mat-option>
            @for (food of foods; track food) {
            <mat-option [value]="food">{{ food.value }}</mat-option>
            }
          </mat-select>
          @if (foodControl.hasError('required')) {
          <mat-error>Please choose a category</mat-error>
          }
          <mat-hint>{{ foodControl.value?.viewValue }}</mat-hint>
        </mat-form-field>
      </article>

      <!--
      <article class="plaatsen">
        <h1>Kies je plaats(en)</h1>
        <mat-form-field>
          <mat-label>Plaatsen</mat-label>
          <mat-select [formControl]="toppings" multiple>
            @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </article>-->

      <h2 class="bestelling_plaatsen_mogelijk">
        Bestelling plaatsen mogelijk?
      </h2>

      <h2 class="link_naar_webshop">Link naar webshop</h2>
    </section>

    <section class="overzicht">
      <h1 class="titel_overzicht">OVERZICHT</h1>
      <article class="gekozen_categorie">
        <h2>Categorie</h2>
      </article>

      <article class="webshop">
        <h2>Webshop</h2>
      </article>

      <article class="standplaatsen">
        <h2>Standplaats(en)</h2>
      </article>

      <p class="totaalprijs">TOTAAL</p>

      <a class="afrekenen" href="">AFREKENEN</a>
    </section>
  </section>
</main>
