<main>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <section>
    <p>Reserveer je tafels</p>
  </section>
  <form class="contactformulier">
    <div class="transactie">
      <label for="transactie" class="transactie_label">Bedrijf</label>
      <input
        type="text"
        name="transactie"
        id="transactie"
        class="transactie_input"
        required
      />
    </div>

    <div class="email">
      <label for="email" class="email_label">E-mailadres</label>
      <input
        type="email"
        name="email"
        id="email"
        class="email_input"
        required
      />
    </div>

    <div class="voornaam">
      <label for="voornaam" class="voornaam_label">Voornaam</label>
      <input
        type="voornaam"
        name="voornaam"
        id="voornaam"
        class="voornaam_input"
        required
      />
    </div>

    <div class="achternaam">
      <label for="achternaam" class="achternaam_label">Achternaam</label>
      <input
        type="achternaam"
        name="achternaam"
        id="voornaam"
        class="achternaam_input"
        required
      />
    </div>

    <div class="probleem">
      <label for="probleem">Categorie</label>
      <input type="radio" id="all" name="soortHandel" value="All" />
        <label for="all">All</label><br />
        <input type="radio" id="retro" name="soortHandel" value="Retro" />  
      <label for="retro">Retro</label><br />
       
      <input type="radio" id="javascript" name="soortHandel" value="Merch" />  
      <label for="javascript">Merch</label>
    </div>
    <label id="example-radio-group-label"
      >Select the categorie you will be selling</label
    >
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      @for (categorie of categories; track categorie) {
      <mat-radio-button class="example-radio-button" [value]="categorie">{{
        categorie
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <div>you sell: {{ categorySelection }}</div>

    <div class="verstuur_bericht">
      <button class="knop_verstuur_bericht">
        <a class="knopje" href="floorplan">Reserveer</a>
      </button>
    </div>
  </form>
</main>
