

/*

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  margin: auto;
  max-width: 40rem;
}

section p {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1.8em, 2.5vw, 2.5em);
}

section {
  margin-top: 5em;
  margin-bottom: 4em;
}



.contactformulier {
  display: flex;
  flex-direction: column;
  background: rgb(125, 249, 184);
  background: linear-gradient(
    90deg,
    rgba(125, 249, 184, 1) 0%,
    rgba(40, 88, 92, 1) 0%,
    rgba(20, 50, 71, 1) 100%
  );
  border-radius: 10px;
  border: #202323 1px solid;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2em;
  margin-bottom: 10rem;
}

label {
  font-size: clamp(1em, 2vw, 1.1em);
  margin-bottom: 0.5rem;
  color: #ffffff;
}

input {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  border: #202323 1px solid;
  box-shadow: 0px 15px 10px -15px #111;
}

.transactie,
.email,
.voornaam,
.achternaam {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.probleem {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  max-width: 100%;
  border: #202323 1px solid;
}

.verstuur_bericht {
  text-align: center;
}

.knop_verstuur_bericht {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #7df9b8;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
  transition: 0.2s;
  border: #202323 1px solid;
  font-size: clamp(0.8em, 2vw, 1.1em);
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0e0e0e;
}

.knop_verstuur_bericht:hover {
  background-color: #32b772;
}

.knopje {
  text-decoration: none;
  color: #0e0e0e;
}

mat-form-field {
  margin-top: 2em;
  height: 5.5em;
}
*/
* {
  padding: 0px;
  margin: 0px;
}


main {
  margin: auto;
  max-width: 80rem;
}

section.bevraging,
h1,
p {
  font-family: "Kanit", sans-serif;
}

.afrekenen {
  text-decoration: none;
  background-color: #7df9b8;
  padding-top: 1rem;
   padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 10px;
  transition: 0.2s;
  border: #202323 1px solid;
  font-size: clamp(0.8em, 2vw, 1.1em);
  display: inline-block;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0e0e0e;
   text-align: center;
}

.afrekenen:hover {
  background-color: #32b772;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.reservatiepagina {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.titel_overzicht {
  text-align: center;
}

.overzicht {
  font-family: "Inter", sans-serif;
  background-color: #061e3a;
  padding-top: 1rem;
  padding-bottom: 1rem;
    padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #f8f8f8;
  border-radius: 20px;
  min-width: 20%;
  text-align: center;
}



.plattegrond {
  margin-bottom: 10rem;
}

.kies_je_categorie {
  margin-bottom: 10rem;
}

.plaatsen {
  margin-bottom: 10rem;
}

.bestelling_plaatsen_mogelijk {
  margin-bottom: 4rem;
}

.gekozen_categorie {
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 3rem;
  padding-top: 1.2rem;
  text-align: left;
}

.webshop {
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 3rem;
  padding-top: 1.2rem;
  text-align: left;
}

.standplaatsen {
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 3rem;
  padding-top: 1.2rem;
  text-align: left;
}


.totaalprijs {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: left;
}