<main>
  <section>
    <p>Reserveer je tafels</p>
  </section>
  <form class="contactformulier">
    <div class="transactie">
      <label for="transactie" class="transactie_label">Bedrijf</label>
      <input
        type="text"
        name="transactie"
        id="transactie"
        class="transactie_input"
        required
      />
    </div>

    <div class="email">
      <label for="email" class="email_label">E-mailadres</label>
      <input
        type="email"
        name="email"
        id="email"
        class="email_input"
        required
      />
    </div>

    <div class="voornaam">
      <label for="voornaam" class="voornaam_label">Voornaam</label>
      <input
        type="voornaam"
        name="voornaam"
        id="voornaam"
        class="voornaam_input"
        required
      />
    </div>

    <div class="achternaam">
      <label for="achternaam" class="achternaam_label">Achternaam</label>
      <input
        type="achternaam"
        name="achternaam"
        id="voornaam"
        class="achternaam_input"
        required
      />
    </div>

    <div class="probleem">
      <label for="probleem">Categorie</label>
      <input type="radio" id="all" name="soortHandel" value="All" />
        <label for="all">All</label><br />
        <input type="radio" id="retro" name="soortHandel" value="Retro" />  
      <label for="retro">Retro</label><br />
       
      <input type="radio" id="javascript" name="soortHandel" value="Merch" />  
      <label for="javascript">Merch</label>
    </div>

    <div class="verstuur_bericht">
      <button class="knop_verstuur_bericht">
        <a class="knopje" href="floorplan">Reserveer</a>
      </button>
    </div>
  </form>
</main>
