<main>
  <div class="hero">
    <div>
      <img src="./images/ACHTERGROND_HOMEPAGINA.jpg" alt="" />
      <h1 class="slogan">DE GRÓÓTSTE GAMING-CONVENTIE VAN DE LAGE LANDEN!</h1>
      <p class="subtitel1">13 - 14 juli 2024</p>

      <p class="subtitel2">Paleis 5 - Brussel Expo</p>
      <a class="knop" href="tickets">TICKETS</a>
    </div>
  </div>

  <h2 class="titel_activiteiten">Activiteiten</h2>
  <section class="activiteiten">
    <div class="grid">
      <article class="activiteit">
        <p class="titel_activiteit">COSPLAY</p>
      </article>

      <article class="activiteit">
        <p class="titel_activiteit">GOODIES</p>
      </article>

      <article class="activiteit">
        <p class="titel_activiteit">GASTEN</p>
      </article>

      <article class="activiteit">
        <p class="titel_activiteit">SNACKS</p>
      </article>
    </div>
  </section>

  <section class="gasten">
    <h2 class="titel_gasten">Gasten</h2>
    <div class="grid">
      <article class="gast">
        <a class="knopje" href="bezoek-Lars">
          <p class="naam_gast">LARS GOEDHUYS</p></a
        >
      </article>
    </div>
  </section>
</main>
