.title {
  font-family: "Freeman", sans-serif;
  padding: 300px;
  text-align: center;
  background-size: cover;
  text-transform: uppercase;
  color: #f8f8f8;
  margin: 0;
  background-image: linear-gradient(to top, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.5)),
    url(../Image/senad-palic-bWYZn--b48I-unsplash.jpg);
  font-size: clamp(3em, 7vh, 5em);
}
h2 {
  font-size: clamp(3em, 7vh, 5em);
  font-family: "Freeman", sans-serif;
  color: #081c3a;
  text-align: center;
}
section {
  align-items: center;
}
.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 25px;
}
.partners img {
  margin: auto; /* Centra verticalmente la imagen */
}


.partners .patner1 {
  height: 300px;
  width: 300px;
  

}

.patner2{
  height: 300px;
  width: 450px;
}

h3 {
  font-size: clamp(3em, 7vh, 5em);
  font-family: "Freeman", sans-serif;
  color: #081c3a;
  text-align: center;
  padding: 50px;
}

.regular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  height: 400px;
  width: 500px;
  background: rgb(8, 28, 58);
  background: linear-gradient(
    180deg,
    rgba(8, 28, 58, 1) 0%,
    rgba(22, 77, 160, 1) 100%
  );

  padding: 25px;
  margin-bottom: 10%;
  border-radius: 60px 70px 40px 140px;
}
.regular h1 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  padding: 0;
}
.regular h2 {
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.knop {
  background-color: #7df9b8;
  color: #0e0e0e;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: clamp(1em, 2vw, 1.2em);
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: 0.2s;
}

a.knop:hover {
  background-color: #32b772;
}

@media only screen and (max-width: 1150px) {
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

  }
  .patners .patner1  {
    height: 200px;
    width: 100px;
    margin: 10px;
  }
  .patner2 img {
    height: 150px;
    width: 150px;
    margin: 10px;
  }
  .title {
    font-size: 1.5em;
    padding: 200px;
  }


}
@media (max-width: 600px) {
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .patners .patner1  {
    height: 200px;
    width: 100px;
    margin: 10px;
  }
  .patner2 img {
    height: 150px;
    width: 150px;
    margin: 10px;
  }

  .title {
    font-size: 1.5em;
    padding: 100px;
  }

  .regular {
    width: 200px;
  }
  h3{
    font-size: clamp(1em, 5vh, 5em);
  }
  h2{
    font-size: clamp(1em, 5vh, 5em);
  }
}
