<h1 class="title">Standhouders</h1>

<h2>Ontdekt onze partners</h2>
<section class="partners">
  <div class="patner1">
    <img
      src="assets/images/electronic-arts-1-logo-png-transparent.png"
      alt=""
    />
  </div>
  <div class="patner2">
    <img src="assets/images/Epic-Games-logo.png" alt="" />
  </div>
  <div class="patner3">
    <img src="assets/images/Rockstar_logo_for_tweets.png" alt="" />
  </div>
  <div class="patner4">
    <img src="assets/images/Xbox_one_logo.svg.png" alt="" />
  </div>
  <div class="patner5">
    <img src="assets/images/playstation-icon-1024x832-3igr9hjt.png" alt="" />
  </div>
  <div class="patner6">
    <img src="assets/images/d53ab11b735c80e4423ce889878a2861.png" alt="" />
  </div>
</section>

<h3>Wordt je de volgende</h3>

<section class="content">
  <div class="regular">
    <h1>Standhouder regular ticket</h1>
    <p>1 ticket extra for the event random location</p>
    <h2>499£</h2>
    <a class="knop" href="formulier-standhouders">Reserveer</a>
  </div>
  <div class="premiun">
    <h1>Standhouder premiun ticket</h1>
    <p>4 extra tickets for the event</p>
    <p>Choose the best location for your stand</p>
    <h2>600£</h2>
    <button>VOEG TOE</button>
  </div>
</section>
