
.title{
    font-family: "Freeman", sans-serif;
    padding: 300px;
    text-align: center;
    background-size: cover;
    text-transform: uppercase;
    font-size: 3em;
    color: #f8f8f8;
    margin: 0;
    background-image:linear-gradient(to top , rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.5)) ,  url(../Image/senad-palic-bWYZn--b48I-unsplash.jpg);

}
h2{
    font-size: 3em;
    font-family: "Freeman", sans-serif;
    color: #081C3A;
    text-align: center;
   

}
.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
   margin:10px ;
   
}
.patner1 img{
height: 300px;
width: 300px;
margin: 10px;
}
.patner2 img{
    height: 300px;
    width: 400px;
    margin: 10px;
}
.patner3 img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.patner4 img 
{
    height: 300px;
    width: 300px;
    margin: 10px;
}
.patner5 img {
    height: 290px;
    width: 290px;
    margin: 10px;
}
.patner6 img {
    height: 300px;
    width: 300px;
    margin: 10px;
}

h3{
    font-size: 3em;
    font-family: "Freeman", sans-serif;
    color: #081C3A;
    text-align: center;
   padding: 50px;
}

.regular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 400px;
    width:500px ;
    background: rgb(8,28,58);
    background: linear-gradient(180deg, rgba(8,28,58,1) 0%, rgba(22,77,160,1) 100%);
 
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 60px 70px 40px 140px;
}
.regular h1{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
 
}

.premiun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 400px;
    width:500px ;
    background: rgb(8,28,58);
    background: linear-gradient(180deg, rgba(8,28,58,1) 0%, rgba(22,77,160,1) 100%);
 
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 60px 70px 40px 140px;
}
.premiun h1{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    padding: 0;
}
button{
    padding: 20px;
    color:#081C3A ;
    background-color:#7DF9B8;
    border-radius: 30px;
    border: none;
}