<main>
  <section>
    <p>Problemen met uw bestelling?</p>
    <p>Laat het ons weten! 👇</p>
  </section>
  <form
    class="contactformulier"
    [formGroup]="form"
    action="javascript:void(0)"
    (submit)="send()"
  >
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        type="email"
        matInput
        placeholder="E-mail@email"
        formControlName="email"
      />
    </mat-form-field>
    <p>{{ form.value.email }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Wat is je voornaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Voornaam"
        formControlName="voornaam"
      />
    </mat-form-field>
    <p>{{ form.value.voornaam }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Wat is je achternaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Achternaam"
        formControlName="achternaam"
      />
    </mat-form-field>
    <p>{{ form.value.achternaam }}</p>
    <mat-form-field class="example-full-width">
      <mat-label>Beschrijving van uw probleem</mat-label>
      <textarea
        matInput
        placeholder="Bijv. Tickets niet ontvangen."
        formControlName="beschrijving"
      ></textarea>
    </mat-form-field>
    <p>{{ form.value.beschrijving }}</p>
    <div class="verstuur_bericht">
      <button type="submit" class="knop_verstuur_bericht">VERSTUUR</button>
    </div>
  </form>
</main>
