<main>
  <section>
    <p>Problemen met uw bestelling?</p>
    <p>Laat het ons weten! 👇</p>
  </section>
  <form class="contactformulier" [formGroup]="form">

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        type="email"
        matInput
        placeholder="E-mail@email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wat is je voornaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Voornaam"
        formControlName="voornaam"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wat is je achternaam</mat-label>
      <input
        type="text"
        matInput
        placeholder="Achternaam"
        formControlName="achternaam"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Beschrijving van uw probleem</mat-label>
      <textarea
        matInput
        placeholder="Bijv. Tickets niet ontvangen."
        formControlName="beschrijving"
      ></textarea>
    </mat-form-field>

    <div class="verstuur_bericht">
      <button class="knop_verstuur_bericht">VERSTUUR</button>
    </div>
  </form>
</main>

