
<h1>Koop jouw tickets hier</h1>
<section>  


  <div class="dag1">
    <div class="dag">
        <h1>Dag Ticket</h1>
        <p>- Toegang tot de beurs voor één specifieke dag.</p>
        <p>- Mogelijkheid om deel te nemen aan alle algemene activiteiten en evenementen die plaatsvinden op die dag.</p>
        <p>- Toegang tot bepaalde exclusieve presentaties, demo's of panels die alleen beschikbaar zijn op die dag.</p>
     
    </div>
        <div class="ticket1">
        <h1>Dag Ticket</h1>
        <div class="counter">
          <div class="buttons">
            <button id="subtract">-</button>
            <span id="quantity">0</span>
            <button id="add">+</button>
          </div>
        </div>
        <h2>30€</h2>
      <button>VOEG TOE</button>
      </div>
    </div>



     <div class="week1">
        <div class="week">
        <h1>Weekend Ticket</h1>
        <p>- Toegang tot de beurs gedurende het hele weekend, inclusief alle dagen waarop het evenement plaatsvindt.</p>
        <p>- Meer flexibiliteit om alle exposities, activiteiten en evenementen op verschillende dagen te verkennen.</p>
        <p>- Speciale weekend-specifieke activiteiten of optredens die exclusief zijn voor weekendticket-houders.</p>

        </div>
      <div class="ticket3">
        <h1>Weekend ticket</h1>
        <div class="counter">
          <div class="buttons">
            <button id="subtract">-</button>
            <span id="quantity">0</span>
            <button id="add">+</button>
          </div>
        </div>
        <h2>50€</h2>
        <button>VOEG TOE</button>
      </div>   
    </div>
</section>

<div class="vip1">
    <div class="vip">
      <h1>VIP-Ticket</h1>
      <p>Alle voordelen van het weekendticket, plus:</p>
      <p>- Voorrangstoegang tot de beursvloer en andere populaire attracties, waardoor lange wachtrijen worden vermeden.</p>
      <p>- Toegang tot exclusieve VIP-ruimtes met gratis hapjes, drankjes en comfortabele zitplaatsen.</p>
      
     </div>
      <div class="ticket2">
      <h1>VIP-Ticket</h1>
      <div class="counter">
        <div class="buttons">
          <button id="subtract">-</button>
          <span id="quantity">0</span>
          <button id="add">+</button>
        </div>
      </div>
    <h2>85€</h2>
    <button>VOEG TOE</button>
</div>



    



