<h1>Koop jouw tickets hier</h1>
<section>
  @for(ticket of tickets;track ticket.id){
  <div class="{{ ticket.className }}">
    <div class="{{ ticket.className2 }}">
      <h1>{{ ticket.name }}</h1>
      <p>{{ ticket.description }}</p>
    </div>
    <div class="ticket1">
      <h1>{{ ticket.name }}</h1>
      <div class="counter">
        <div class="buttons">
          <button id="subtract" (click)="decreaseNumberCount()">-</button>
          <span id="quantity">{{ numberToAdd }}</span>
          <button id="add" (click)="increaseNumberCount()">+</button>
        </div>
      </div>

      <h2>{{ ticket.price | currency : "EUR" }}</h2>

      <button (click)="voegToe(ticket, numberToAdd)">VOEG TOE</button>
    </div>
  </div>

  }
</section>
