body {
    margin: 0;
    padding: 0;
    color: #F8F8F8;
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: 4em;
}
section{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.dag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 200px;
    width:500px ;
    background-image:linear-gradient(to top , rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.5));

    background-size: cover;
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 50px;
 
   
}
.dag h1{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}
.week{
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 200px;
    width:500px ;
    background-image:linear-gradient(to top , rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.5)) ;
    background-size: cover;
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 50px;
}
.week h1{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.vip{
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 200px;
    width:500px ;
    background-image:linear-gradient(to top , rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.5)); 
    background-size: cover;
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 50px;
}
.vip h1{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.ticket1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 400px;
    width:500px ;
    background: rgb(8,28,58);
    background: linear-gradient(180deg, rgba(8,28,58,1) 0%, rgba(22,77,160,1) 100%);
 
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 60px 70px 40px 140px;

}
.ticket1 h1{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;

}
.ticket1 h2{
    font-size: 3em;
}

button{
    padding: 20px;
    color:#081C3A ;
    background-color:#7DF9B8;
    border-radius: 30px;
    border: none;
}
.ticket2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 400px;
    width:500px ;
    background: rgb(8,28,58);
    background: linear-gradient(180deg, rgba(8,28,58,1) 0%, rgba(22,77,160,1) 100%);
 
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 60px 70px 40px 140px;

    
}
.ticket2 h1{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    padding: 0;
}
.ticket2 h2{
    font-size: 3em;
    padding: 0;
    margin-bottom: 25px;
}

.ticket3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    height: 400px;
    width:500px ;
    background: rgb(8,28,58);
    background: linear-gradient(180deg, rgba(8,28,58,1) 0%, rgba(22,77,160,1) 100%);
 
    padding: 25px;
    margin-bottom: 10%;
    border-radius: 60px 70px 40px 140px;

}
.ticket3 h1{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
}
.ticket3 h2{
    font-size: 3em;
}
