<header>
  <nav>
    <img
      class="logo"
      src="assets/images/LOGO_FRONTEND_GAME_EVENT1.png"
      alt="icooon"
    />

    <div class="navLinks" [class.hamburgerNavLinks]="burgerDisplay">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/tickets">Tickets</a></li>
        <li><a routerLink="/bezoek-Lars"> Bezoek Lars</a></li>
        <li><a routerLink="/floorplan">Floor plan</a></li>
        <li><a routerLink="/standhouders">Standhouders</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li>
          <div class="cartIcon" (click)="displayCart()">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="">{{ getCartCount() }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="burger" (click)="displayBurgerNav()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>
</header>
@if(cartDisplay){
<app-cart-basket></app-cart-basket>

}
