<header>
  <nav>
    <img
      src="assets/images/LOGO_FRONTEND_GAME_EVENT1.png"
      height="100px"
      width="200px"
      alt="icooon"
    />
    <div class="icoon"></div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/tickets">Tickets</a></li>
      <li><a routerLink="/bezoek-Lars"> Bezoek Lars</a></li>
      <li><a routerLink="/floorplan">Floor plan</a></li>
      <li><a routerLink="/standhouders">Standhouders</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
